@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Emily's Favorite Restaurants</h1>
</div>

<img src="~/img/EmPic.jpg" />

<div>
    <a asp-controller="Home" asp-action="RestaurantList">Click here to see the list</a><br />
    <a asp-controller="Home" asp-action="AddRestaurant">Click to add restaurant</a>
</div>
